
[Desktop Entry]
Version=1.0
Encoding=UTF-8
Type=Application
Name=KidsRuby
Comment=KidsRuby
Categories=Application;
Exec=ruby /opt/kidsruby/main.rb
Icon=/usr/share/icons/ruby-inside-icons/ruby.png
Terminal=false
StartupNotify=false